#git status excludes the following files (except those line who start with !)
*.order
*.lo
*.la
*.so
*.o
.*.cmd
*.ko
*.a
*.mod.c
*.o.d
*.swp
*~
Makefile.in
aclocal.m4
Archive
COPYING
INSTALL
.deps/
Module.symvers
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
autom4te.cache/
acinclude.m4
.libs/
libtool
ltmain.sh
missing
packages