#git status excludes the following files (except those line who start with !)
*.order
*.lo
*.la
*.so
*.o
.*.cmd
*.ko
*.a
*.mod.c
*.o.d
*.swp
*~
Makefile.in
aclocal.m4
Archive
COPYING
INSTALL
.deps/
Module.symvers
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
autom4te.cache/
acinclude.m4
.libs/
libtool
ltmain.sh
missing
packages
.directory
build/DEBIAN/Makefile
build/Makefile
build/autogen.sh
build/depcomp
build/enigma2-plugins-config.h
build/enigma2-plugins-config.h.in
build/install-sh
build/kartinatv/.directory
build/kartinatv/Makefile
build/kartinatv/meta/Makefile
build/kartinatv/po/Makefile
build/kartinatv/po/de.mo
build/kartinatv/po/en.mo
build/kartinatv/po/ru.mo
build/kartinatv/skin/Makefile
build/kartinatv/skin/buttons/Makefile
build/kartinatv/skin/menu/Makefile
build/kartinatv/skin/sd/Makefile
build/kartinatv/src/Makefile
build/kartinatv/src/api/Makefile
build/kartinatv/src/servicets/Makefile
build/m4/libtool.m4
build/m4/ltoptions.m4
build/m4/ltsugar.m4
build/m4/ltversion.m4
build/m4/lt~obsolete.m4
build/py-compile
build/stamp-h1